<robot name="my_car_camera" xmlns:xacro="http://wiki.ros.org/xacro">
    <!--包含惯性矩阵-->
    <xacro:include filename="head.xacro" />
    <!--组成-->
    <xacro:include filename="demo05_disk.xacro" />
    <xacro:include filename="demo06_camera.xacro" />
    <xacro:include filename="demo07_laser.xacro" />
</robot>